/* ==========================================================================
   Buttons
   ========================================================================== */

// .c-btn {
//     cursor: pointer;

//     border: none;
//     .c-label {
//         width: 100%;

//         text-align: center;
//     }
// }
.button {
    background-color: $color-socials;
    border: 0;
    color: $color_white;
    border-radius: 30px;
    height: 50px;
    width: 180px;
    cursor: pointer;
}