/* ==========================================================================
   Buttons
   ========================================================================== */

.button {
    background-color: $color_lightorange;
    border: 0;
    color: $color_white;
    border-radius: 30px;
    height: 50px;
    width: 180px;
    cursor: pointer;
    padding: 18px 49px;
    &:hover {
        background-color: $color_orange;
    }
}

.hero-button {
    margin-bottom: 282px;
}