/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors
========================================================================== */
$color_default:				#464646;
$color_black:  				#000;
$color_white:  				#fff;

$color_1:     	$color_black;
$color_2:     	$color_white;
$color_3:     	#d4213d;			// red

$colors:
    $color_1,
    $color_2,
    $color_3;

$color_default_link:		$color_3;
$color-primary: #3b434c;
$color-secondary: #fc5f45;
$color-socials: #e9654c;
$color-team-bg: #f2f2f2;
$color-focus-border: #d5d8da;
$color-statistics: #6c6c73;
$color-secondary-bg: #ddd;
$color-bg-footer: #1b2126;
$color-text: #7f8081;
$color-bg-header: #200a32;
$color-border-kit: #646e76;
$color-placeholder: #666666;
$color-border-pros: #e5e5e5;
$color-bg-services: #f7f7f7;
$color-border-team: #b5b5b5;

/* Gridle custom classes
========================================================================== */
$gutterTopNumber:                               10;
$gutterBottomNumber:                            10;
$gutterRightNumber:                             10;
$gutterLeftNumber:                              10;
$gutterNumber:                                  10;
$spacingTopNumber:                              10;
$spacingBottomNumber:                           10;
$spacingRightNumber:                            10;
$spacingLeftNumber:                             10;


/* Sizes
========================================================================== */
$size_inner:        				1140px;
$size_gutter:       				20px;

$size_btn:							48px;


/* Fonts
========================================================================== */
$font_default: 		Arial, sans-serif;
$font_ico: 			'fontello';
$font-serif: 'Roboto', sans-serif; 

/* Breakpoints
========================================================================== */
$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'desktop': 1024px
) !default;