.feature {
    color: #3b434c;
}

.feature-container {
    margin-top: 227px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 154px;
}

.feature-image {
    width: 40%;
}

.feature-text-container {
    width: 60%;
    margin-left: 105px;
    margin-top: 134px;
    margin-right: 415px;
}

.feature-title {
    font-size: 35px;
}

.feature-description {
    word-break: break-word;
    font-size: 15px;
    margin-top: 43px;
    padding-bottom: 58px;
    line-height: 28px;
}
