.feature {
    color: $color-primary;
    font-family: $font-serif;
}

.feature-container {
    margin-top: 227px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 154px;
    @include media (">=phone", "<tablet") {
        flex-direction: column;
        margin-top: 129px;
        padding-bottom: 75px;
    }
}

.feature-image {
    width: 100%;
    object-fit: cover;
}

.feature-text-container {
    width: 60%;
    margin: 6% 6% 0 6%;
    @include media (">=phone", "<tablet") {
        width: 82%;
    }
}

.feature-title {
    font-size: 35px;
}

.feature-description {
    word-break: break-word;
    font-size: 15px;
    margin-top: 43px;
    padding-bottom: 58px;
    line-height: 28px;
}
