.focus {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: $color-primary;
}

.focus-title {
    font-size: 35px;
    padding-top: 154px;
    margin-bottom: 68px;
    font-weight: normal;
}

.focus-list {
    list-style-type: none;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &:before {
        content: '';
        border-bottom: 1px solid $color-focus-border;
        top: 42px;
        left: 65px;
        width: 89%;
        position: absolute;
    }
}

.dot {
    width: 10px;
    height: 10px;
    background: $color-secondary-bg;
    margin: 10px auto;
    position: relative;
    &:before {
        content: '';
        border: solid 3px $color_black;
        border-radius: 100%;
        position: absolute;
        top: 2px;
        left: 2px;
    }
}

.dot-color {
    position: relative;
    margin: 19px auto;
    z-index: 1;
    width: 10px;
    height: 10px;
    background: $color-secondary;
    &:before {
        position: absolute;
        content: '';
        border: solid 3px $color_white;
        border-radius: 100%;
        top: 2px;
        left: 2px;
    }
}

.creative-text {
    font-size: 20px;
}

.focus-text {
    font-size: 16px;
    font-weight: lighter;
    padding-bottom: 152px;

        margin: 10px 0 0 37%;
    width: 27%;
}

.icons-lightbulb {
    font-size: 38px;
    color: $color_white;
}

.focus-icon {
    height: 69px;
    width: 69px;
    background-color: $color-secondary;
    padding-top: 8px;
    margin-top: -50px;
}
