.focus {
    text-align: center;
    font-family: $font-serif;
    color: $color_darkblue;
}

.focus-title {
    font-size: 35px;
    padding-top: 154px;
    margin-bottom: 68px;
    font-weight: normal;
    @include media (">=phone", "<tablet") {
        padding-top: 60px;
        margin-bottom: 116px;
    }
}
