.pros {
    width: 900px;
    height: 140px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 20px #e1e1de;
}

.pros-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pros-list-item {

}

.pros-icon {}

.pros-text {}
