.services {
    background-color: $color_whitegray;
    text-align: center;
    color: $color_darkblue;
    font-family: $font-serif;
    padding-bottom: 105px;
}

.services-title {
    font-weight: normal;
    font-size: 35px;
    padding-top: 104px;
    padding-bottom: 32px;
}

.services-subtitle {
    font-size: 18px;
    padding-bottom: 66px;
}

.services-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @include media (">=phone", "<tablet") {
        flex-direction: column;
    }
}

.services-list-item {
    background-color: $color_white;
    flex-basis: 263px;
    height: 350px;
    &:hover {
        color: $color_black;
        border-bottom: 3px solid $color_lightorange;
        .service-image {
            color: $color_lightorange;
        }
    }
    @include media (">=tablet", "<=desktop") {
        flex-basis: 160px;
    }
    @include media (">=phone", "<tablet") {
        margin: 10px 15px;
        padding-bottom: 52px;
    }
}

.service-title {
    font-size: 24px;
    font-weight: normal;
    margin-top: 28px;
    padding-bottom: 35px;
    @include media (">=tablet", "<desktop") {
        font-size: 20px;
    }
}

.service-description {
    font-size: 15px;
    width: 200px;
    margin: 0 auto;
    line-height: 20px;
    @include media (">=tablet", "<desktop") {
        width: 139px;
    }
    @include media (">=phone", "<tablet") {
        width: 256px;
    }
}

.service-image {
    padding-top: 66px;
    font-size: 39px;
}

.icon-basic-smartphone {
    font-size: 30px;
}

.icon-basic-tablet {
    margin-right: -24px;
}
