.services {
    background-color: $color_whitegray;
    text-align: center;
    color: $color_darkblue;
    font-family: $font-serif;
    padding-bottom: 105px;
}

.services-title {
    font-weight: normal;
    font-size: 35px;
    padding-top: 104px;
    padding-bottom: 32px;
}

.services-subtitle {
    font-size: 18px;
    padding-bottom: 66px;
}

