.solutions {
    font-family: $font-serif;
    color: $color_darkblue;
}

.solutions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include media (">=phone", "<tablet") {
        flex-direction: column;
    }
}

.solutions-text-container {
    width: 57%;
    margin: 0 6% 0 6%;
    @include media (">=phone", "<tablet") {
        width: 87%;
        margin-bottom: 30px;
    }
}

.solutions-title {
    font-weight: normal;
    font-size: 35px;
    padding-bottom: 46px;
    margin-top: 70px;
    color: $color_darkblue;
}

.solutions-description {
    font-size: 15px;
    padding-bottom: 35px;
}

.solutions-button {
    margin-top: 6px;
}
