.statistics {
    background: url(../img/statistics-background.png) no-repeat 50% 50%;
    background-size: cover;
    padding: 140px 0;
    font-family: $font-serif;
}

.statistics-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    color: $color_white;
    align-items: center;
}

.statistics-list-item {
    flex-basis: 284px;
    height: 180px;
    padding-top: 50px;
    position: relative;
}

.line {
    &:after {
        content: '';
        border-right: 1px solid $color-statistics;
        transform: rotate(30deg);
        position: absolute;
        top: 0px;
        height: 110%;
        right: 0px;
    }
}

.numbers {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 27px;
}

.statistics-name {
    font-size: 16px;
    font-weight: normal;
}
