.team {
    text-align: center;
    padding-bottom: 152px;
    font-family: $font-serif;
    color: $color_darkblue;
}

.team-title {
    margin-top: 235px;
    font-size: 35px;
    font-weight: normal;
}

.team-subtitle {
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 56px;
    @include media (">=phone", "<tablet") {
        width: 293px;
        margin: 0 auto;
    }
}