.team {
    text-align: center;
    padding-bottom: 152px;
    font-family: $font-serif;
    color: $color-primary;
}

.team-title {
    margin-top: 235px;
    font-size: 35px;
    font-weight: normal;
}

.team-subtitle {
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 56px;
}

.team-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.team-member {
    border: 3px solid $color-team-bg;
    flex-basis: 341px;
    &:hover {
        border: 0;
        box-shadow: 0 0 14px 0px $color-team-bg;
    }
}

.member-image {
    height: 157px;
    width: 157px;
    background-color: $color-team-bg;
    border-radius: 100%;
    margin: 38px 80px;
    overflow: hidden;
   @include media (">=tablet", "<desktop")  {
        height: 120px;
        width: 120px;
        margin: 33px 17px;
    }
}

.member-name {
    font-size: 18px;
    text-transform: uppercase;
}

.member-description {
    font-size: 15px;
    width: 260px;
    margin: 20px auto 0;
    padding-bottom: 44px;
   @include media (">=tablet", "<desktop")  {
        width: 190px;
    }
}
